{% extends "base.html" %}

{% block title %}Deine Favoriten{% endblock %}

{% block content %}
    <div class="container">
        <h1>Deine Favoriten</h1>

        <!-- Filterfunktion nach Kategorie -->
        <form method="GET" action="/favorites" class="filter-form">
            <label for="category">Favoriten nach Kategorie filtern:</label>
            <select name="category" id="category">
                <option value="">Alle Kategorien</option>
                <option value="Biologie">Biologie</option>
                <option value="Technologie">Technologie</option>
                <option value="Wirtschaft">Wirtschaft</option>
                <option value="Mathematik">Mathematik</option>
                <option value="Physik">Physik</option>
                <option value="Chemie">Chemie</option>
                <option value="Medizin">Medizin</option>
                <option value="Informatik">Informatik</option>
                <!-- Weitere Kategorien -->
            </select>
            <button type="submit" class="btn-small">Filtern</button>
        </form>

        {% if favorites %}
            <form method="POST" action="/remove_favorites">
                <div class="card-container">
                    {% for book in favorites %}
                        <div class="card" id="card-{{ loop.index }}" onclick="toggleCardSelection({{ loop.index }})">
                            <label>
                                <input type="checkbox" name="selected_books" value="{{ book.isbn }}" id="checkbox-{{ loop.index }}">
                                <span>Kachel auswählen</span>
                            </label>
                            <h2>{{ book.title }}</h2>
                            <p><strong>Autor:</strong> {{ book.author }}</p>
                            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                            <p><strong>Erscheinungsjahr:</strong> {{ book.publication_year }}</p>
                            <p><strong>Kategorie:</strong> {{ book.category }}</p>  <!-- Kategorie anzeigen -->

                            <!-- "Mehr Infos" Button und Beschreibung -->
                            <button type="button" class="btn-small" onclick="toggleDescription({{ loop.index }})">Mehr Infos</button>
                            <div id="description-{{ loop.index }}" class="book-description" style="display: none;">
                                <p>{{ book.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn-large">Ausgewählte Favoriten entfernen</button>
            </form>
        {% else %}
            <p>Du hast noch keine Favoriten gespeichert.</p>
        {% endif %}
    </div>
{% endblock %}