{% extends "base.html" %}

{% block title %}Bücher suchen{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bücher suchen</h1>
        <form method="POST" action="/search">
            <label for="field">Für welches Fachgebiet interessierst du dich?</label>
            <select name="field" required>
                <option value="Biologie">Biologie</option>
                <option value="Technologie">Technologie</option>
                <option value="Handwerk">Handwerk</option>
                <option value="Wirtschaft">Wirtschaft</option>
                <option value="Philosophie">Philosophie</option>
            </select>
            <br><br>
            <label for="topic">Gibt es ein bestimmtes Themen - Teilgebiet, was dich interessiert?</label>
            <input type="text" name="topic">
            <br><br>
            <button type="submit" class="btn-large">Suchen</button>
        </form>
    </div>
{% endblock %}