{% extends "base.html" %}

{% block title %}Bücher suchen{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bücher suchen</h1>
        <form method="POST" action="/search">
            <label for="field">Für welches Fachgebiet interessierst du dich?</label>
            <select name="field" required>
                <option value="Biologie">Biologie</option>
                <option value="Technologie">Technologie</option>
                <option value="Wirtschaft">Wirtschaft</option>
                <option value="Mathematik">Mathematik</option>
                <option value="Physik">Physik</option>
                <option value="Chemie">Chemie</option>
                <option value="Medizin">Medizin</option>
                <option value="Informatik">Informatik</option>
                <option value="Ingenieurwesen">Ingenieurwesen</option>
                <option value="Umweltwissenschaften">Umweltwissenschaften</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Geschichte">Geschichte</option>
                <option value="Kunstwissenschaften">Kunstwissenschaften</option>
                <option value="Musikwissenschaft">Musikwissenschaft</option>
                <option value="Soziologie">Soziologie</option>
                <option value="Pädagogik">Pädagogik</option>
                <option value="Psychologie">Psychologie</option>
                <option value="Politikwissenschaft">Politikwissenschaft</option>
                <option value="Rechtswissenschaften">Rechtswissenschaften</option>
                <option value="Geografie">Geografie</option>
                <option value="Sportwissenschaften">Sportwissenschaften</option>
                <option value="Astronomie">Astronomie</option>
                <option value="Meteorologie">Meteorologie</option>
                <option value="Ozeanografie">Ozeanografie</option>
            </select>
            <br><br>
            <label for="topic">Welches Thema interresiert dich, wo möchtest du dich bilden?</label>
            <input type="text" name="topic">
            <br><br>
            <button type="submit" class="btn-large">Suchen</button>
        </form>
    </div>
{% endblock %}